[submodule "bundle/vim-neatstatus"]
	path = bundle/vim-neatstatus
	url = git://github.com/maciakl/vim-neatstatus.git
[submodule "bundle/vim-csapprox"]
	path = bundle/vim-csapprox
	url = https://github.com/godlygeek/csapprox.git
[submodule "bundle/vim-solarized"]
	path = bundle/vim-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-autocose"]
	path = bundle/vim-autocose
	url = https://github.com/Townk/vim-autoclose.git
[submodule "bundle/vim-phpqa"]
	path = bundle/vim-phpqa
	url = https://github.com/joonty/vim-phpqa.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-bettercsssyntax"]
	path = bundle/vim-bettercsssyntax
	url = https://github.com/vim-scripts/Better-CSS-Syntax-for-Vim.git
[submodule "bundle/vim-closetag"]
	path = bundle/vim-closetag
	url = https://github.com/vim-scripts/closetag.vim.git
[submodule "bundle/vim-matchit"]
	path = bundle/vim-matchit
	url = https://github.com/edsono/vim-matchit.git
[submodule "bundle/vdebug"]
	path = bundle/vdebug
	url = git://github.com/joonty/vdebug.git
[submodule "bundle/vim-less"]
	path = bundle/vim-less
	url = https://github.com/groenewege/vim-less
