[submodule "bundle/vim-neatstatus"]
	path = bundle/vim-neatstatus
	url = git://github.com/maciakl/vim-neatstatus.git
[submodule "bundle/vim-solarized"]
	path = bundle/vim-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-autocose"]
	path = bundle/vim-autocose
	url = https://github.com/Townk/vim-autoclose.git
[submodule "bundle/vim-phpqa"]
	path = bundle/vim-phpqa
	url = https://github.com/joonty/vim-phpqa.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-twig"]
	path = bundle/vim-twig
	url = https://github.com/evidens/vim-twig.git
[submodule "bundle/vim-easy-align"]
	path = bundle/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align
[submodule "bundle/vim-vdebug"]
	path = bundle/vim-vdebug
	url = https://github.com/joonty/vdebug
[submodule "bundle/vim-jshint2"]
	path = bundle/vim-jshint2
	url = https://github.com/Shutnik/jshint2.vim.git
