[submodule "bundle/vim-neatstatus"]
	path = bundle/vim-neatstatus
	url = git://github.com/maciakl/vim-neatstatus.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/csapprox"]
	path = bundle/csapprox
	url = https://github.com/godlygeek/csapprox.git
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/autocose"]
	path = bundle/autocose
	url = https://github.com/Townk/vim-autoclose.git
[submodule "bundle/vim-csapprox"]
	path = bundle/vim-csapprox
	url = https://github.com/godlygeek/csapprox.git
[submodule "bundle/vim-solarized"]
	path = bundle/vim-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-autocose"]
	path = bundle/vim-autocose
	url = https://github.com/Townk/vim-autoclose.git
[submodule "bundle/vim-phpqa"]
	path = bundle/vim-phpqa
	url = https://github.com/joonty/vim-phpqa.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-bettercsssyntax"]
	path = bundle/vim-bettercsssyntax
	url = https://github.com/vim-scripts/Better-CSS-Syntax-for-Vim.git
[submodule "bundle/vim-csscolour"]
	path = bundle/vim-csscolour
	url = https://github.com/ap/vim-css-color.git
